# Notes for YouTube Python Tutorials
## Automate Microsoft Excel with xlwings in Python
https://m.youtube.com/watch?v=5iyL9tMw8vA&list=PL3JVwFmb_BnTPmU9Vax-Q1u2CQ9QbFmiJ&index=2&t=0s

In [1]:
import xlwings as xw

## Automate Excel with Python and xlwings Part 1: Install xlwings and the basic

In [2]:
# Create interactive workbook
wb = xw.Book()

In [3]:
# Add a worksheet
wb.sheets.add('Tab1')

# Edit in the worksheet
ws = wb.sheets['Tab1']
ws.range('A1').value = 'Hello There'
ws.range('A2:E20').value = 100

In [4]:
# Clear contents
ws.cells.clear_contents()

In [5]:
# Use row and column index to edit
ws.cells(1, 1).value = 100
ws.cells(1, 'B').value = 200

In [6]:
# Clear a single cell
ws.cells(1, 2).clear_contents()

In [7]:
# Create table
ws.range('A3').value = [['Col A', 'Col B'], [10, 20], [30, 40]]

In [8]:
# Read table
ws.range('A3').expand().value

[['Col A', 'Col B'], [10.0, 20.0], [30.0, 40.0]]

In [9]:
# Create a horizontal vector
ws.range('A7').value = [100, 200, 300, 400, 500]

In [10]:
# Create a vertical vector
ws.range('A9').options(transpose=True).value = [100, 200, 300, 400, 500]

In [11]:
# Read values
ws.range('A1').value

100.0

## Automate Excel with Python and xlwings Part 2: Run Python Function in Excel

Use xlsm or Add-in function

## Automate Excel with Python and xlwings Part 3: Options and Default Converters

In [12]:
ws.clear_contents()

### ndim

In [13]:
ws.range('A1').value = [[100, 200], [300, 400]]
ws.range('A1:A2').options(ndim=1).value  # vector

[100.0, 300.0]

In [14]:
ws.range('A1:A2').options(ndim=2).value  # The original is a vertical vector.

[[100.0], [300.0]]

In [15]:
ws.range('A1:B1').options(ndim=2).value  # The original is a horizontal vector.

[[100.0, 200.0]]

### numbers

In [16]:
ws.range('A1').value  # By default, it is float.

100.0

In [17]:
ws.range('A1').options(numbers=int).value  # Convert to int.

100

### dates

In [18]:
ws.cells(4, 1).value = '3/26/2019'  # It is date in Excel.
print(type(ws.range('A4').value))  # By default, it is datetime.
print(ws.range('A4').value)  # Date and time

<class 'datetime.datetime'>
2019-03-26 00:00:00

In [19]:
import datetime as dt


ws.range('A4').options(dates=dt.date).value  # Date only

datetime.date(2019, 3, 26)

### empty

In [20]:
ws.range('A6').value = [100, '',300]
ws.range('A6:C6').value

[100.0, None, 300.0]

In [21]:
ws.range('A6:C6').options(empty='NA').value

[100.0, 'NA', 300.0]

### transpose

In [22]:
ws.range('A8').options(transpose=True).value = [100, 200, 300]

### expand

In [23]:
ws.clear_contents()

ws.range('A1').value = [[10, 20], [100, 200]]

rng1 = ws.range('A1').expand()
rng2 = ws.range('A1').options(expand='table')

print(rng1.value)
print(rng2.value)

[[10.0, 20.0], [100.0, 200.0]]
[[10.0, 20.0], [100.0, 200.0]]

In [24]:
ws.range('A3').value = [1000, 2000]

print(rng1.value)  # It is not expanded after adding more items.
print(rng2.value)  # After adding more items into the table, it expanded.

[[10.0, 20.0], [100.0, 200.0]]
[[10.0, 20.0], [100.0, 200.0], [1000.0, 2000.0]]

## Automate Excel with Python and xlwings Part 4: Built-In Converters

In [25]:
ws.clear_contents()


import numpy as np
import pandas as pd

In [26]:
ws.range('A1').value = [['row 1', 10], ['row 2', 30]]
ws.range('A4').value = [['Col A', 'Col B'], [100, 200]]

In [27]:
ws.range('A1:B2').value  # Read as a table.

[['row 1', 10.0], ['row 2', 30.0]]

In [28]:
# It ONLY works for a list of keys and a list of values.
ws.range('A1:B2').options(dict).value  # Read as a dict.

{'row 1': 10.0, 'row 2': 30.0}

In [29]:
# Combine dict and transpose
ws.range('A4:B5').options(dict, transpose=True).value

{'Col A': 100.0, 'Col B': 200.0}

### Numpy Array Converter

In [30]:
# Import np.array
ws.clear_contents()

array = np.array([10, 20, 30])
ws.range('A1').value = array

In [31]:
# Import np.array
ws.clear_contents()

array = np.array([10, 20, 30])
ws.range('A1').options(transpose=True).value = array

In [32]:
# Read array. By default, ndim=1
ws.range('A1').options(np.array, expand='table').value

array([10., 20., 30.])

In [33]:
# Read as two dimensions
ws.range('A1').options(np.array, expand='table', ndim=2).value

array([[10.],
       [20.],
       [30.]])

### Pandas series Converter

In [34]:
ws.clear_contents()

ws.range('A1').value = [['date', 'values'],
                        ['3/23/2019', 100],
                        ['3/24/2019', 200],
                        ['3/25/2019', 300],
                        ['3/26/2019', 400],
                        ['3/27/2019', 500],
                        ['3/28/2019', 600],
                        ['3/29/2019', 700]]

In [35]:
# Default
ws.range('A1').expand().value

[['date', 'values'],
 [datetime.datetime(2019, 3, 23, 0, 0), 100.0],
 [datetime.datetime(2019, 3, 24, 0, 0), 200.0],
 [datetime.datetime(2019, 3, 25, 0, 0), 300.0],
 [datetime.datetime(2019, 3, 26, 0, 0), 400.0],
 [datetime.datetime(2019, 3, 27, 0, 0), 500.0],
 [datetime.datetime(2019, 3, 28, 0, 0), 600.0],
 [datetime.datetime(2019, 3, 29, 0, 0), 700.0]]

In [36]:
# Pandas Series
ws.range('A1').options(pd.Series, expand='table').value

date
2019-03-23    100.0
2019-03-24    200.0
2019-03-25    300.0
2019-03-26    400.0
2019-03-27    500.0
2019-03-28    600.0
2019-03-29    700.0
Name: values, dtype: float64

In [37]:
# Not use date as index and has header
df = ws.range('A1').options(pd.Series, index=False, header=True, expand='table').value
df

        date  values
0 2019-03-23   100.0
1 2019-03-24   200.0
2 2019-03-25   300.0
3 2019-03-26   400.0
4 2019-03-27   500.0
5 2019-03-28   600.0
6 2019-03-29   700.0

In [38]:
ws.range('D1').value = df

### Pandas DataFrame Converter

In [39]:
ws.clear()  # It also clear data types.

ws.range('A1').value = [['', 'col b', 'col c', 'col d'],
                        ['index', 'date', 'values', 'color'],
                        [30, '3/23/2019', 100, 'red'],
                        [40, '3/24/2019', 200, 'red'],
                        [50, '3/25/2019', 300, 'yellow'],
                        [60, '3/26/2019', 400, 'yellow'],
                        [70, '3/27/2019', 500, 'green'],
                        [80, '3/28/2019', 600, 'green'],
                        [90, '3/29/2019', 700, 'green']]

In [40]:
df = ws.range('A1').options(pd.DataFrame, expand='table', header=1).value
df

                     col b   col c   col d
index                 date  values   color
30.0   2019-03-23 00:00:00     100     red
40.0   2019-03-24 00:00:00     200     red
50.0   2019-03-25 00:00:00     300  yellow
60.0   2019-03-26 00:00:00     400  yellow
70.0   2019-03-27 00:00:00     500   green
80.0   2019-03-28 00:00:00     600   green
90.0   2019-03-29 00:00:00     700   green

In [41]:
# The title is 'col b', not 'date'. 'date' is not in data.
df = ws.range('A1').options(pd.DataFrame, expand='table', header=2).value
df

           col b  col c   col d
            date values   color
index
30.0  2019-03-23  100.0     red
40.0  2019-03-24  200.0     red
50.0  2019-03-25  300.0  yellow
60.0  2019-03-26  400.0  yellow
70.0  2019-03-27  500.0   green
80.0  2019-03-28  600.0   green
90.0  2019-03-29  700.0   green

## Automate Excel with Python and xlwings Part 5: Access the Missing Features
https://docs.microsoft.com/en-us/office/vba/api/excel.worksheet

In [42]:
ws.clear()

ws.range('A1').value = [['Position', 'Level', 'Salary'],
                        ['Business Analyst', 1, 45000],
                        ['Junior Consultant', 2, 50000],
                        ['Senior Consultant', 3, 60000],
                        ['Manager', 4, 80000],
                        ['Country Manager', 5, 110000],
                        ['Region Manager', 6, 150000],
                        ['Partner', 7, 200000],
                        ['Senior Partner', 8, 300000],
                        ['C-level', 9, 500000],
                        ['CEO', 10, 1000000]]

In [43]:
# Get the last row and column
last_row = ws.cells(ws.api.rows.count, 'A').end(-4162).row
last_column = ws.cells(1, ws.api.columns.count).end(-4159).column

print(last_row)
print(last_column)

11
3

In [44]:
# Add filter in Excel
ws.range(ws.cells(1, 1), ws.cells(last_row, last_column)).api.AutoFilter(3, ">=100000")

True

In [45]:
# Clear filter
ws.api.ShowAllData()

In [46]:
# Remove filter
ws.api.AutoFilterMode = False

In [47]:
# Change text to bold
ws.range('C2:C' + str(last_row)).api.font.bold = True

In [48]:
# Change font size
ws.range('C2:C' + str(last_row)).api.font.size = 12

In [49]:
# Change font size
ws.range('A2:A' + str(last_row)).api.WrapText = True

In [50]:
# wb.save('Python Data/xlwings_sample.xlsx')
wb.close()